<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
<h:head></h:head>
<h:body>
	<b:container fluid="true">
		<b:panel>
			<ui:insert name="header">
				<ui:include src="/templates/header.xhtml" />
			</ui:insert>
		</b:panel>
		<hr />
		<ui:insert name="content">
			<p>loading...</p>
		</ui:insert>
		<hr />
		<b:panel>
			<ui:insert name="footer">
				<ui:include src="/templates/footer.xhtml" />
			</ui:insert>
		</b:panel>
	</b:container>
</h:body>
</html>