<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
<body>
	<ui:composition>
		<b:panelGrid columns="3" style="text-align:center;">
			<h:outputText value="Jérémie Durand" />
			<h:outputText value="Hiver 2019" />
			<h:outputText value="Cégep André Laurendeau" />
		</b:panelGrid>
	</ui:composition>
</body>
</html>