<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition>
		<h:panelGroup style="text-align:center;">
			<h1>Démo JSF</h1>
		</h:panelGroup>
	</ui:composition>
</body>
</html>