<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">

<h:body>
	<ui:composition template="/templates/common.xhtml">
		<ui:define name="content">
			<b:panel title="Todos" collapsible="false" look="primary">
				<h:form>
					<b:dataTable value="#{indexBean.todos}" var="todo"
						searching="false" paginated="false">
						<b:dataTableColumn value="#{todo.id}" label="Id" order="asc" />
						<b:dataTableColumn value="#{todo.title}" label="Titre" />
						<b:dataTableColumn value="#{todo.description}" label="Description" />
						<b:dataTableColumn orderable="false">
							<f:facet name="header">
								<h:outputText value="Options" />
							</f:facet>
							<b:commandButton value="Détails"
								action="#{indexBean.view(todo.id)}" look="info">
							</b:commandButton>
						</b:dataTableColumn>
					</b:dataTable>
					<b:commandButton value="Ajouter..." action="#{indexBean.create}"
						look="success" offset="10" />
				</h:form>
			</b:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>