<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">

<f:metadata>
	<f:viewParam name="id" value="#{todoBean.id}" />
	<f:event listener="#{todoBean.retrieve}" type="preRenderComponent" />
</f:metadata>

<h:body>
	<ui:composition template="/templates/common.xhtml">
		<ui:define name="content">
			<b:panel title="Détails" look="info" collapsible="false">
				<b:panelGrid columns="3" styleClasses="label, component, required">
					<h:outputLabel for="id" value="Identifiant: " />
					<h:outputText id="id" value="#{todoBean.todo.id}" />
					<h:outputText value="" />

					<h:outputLabel for="title" value="Titre: " />
					<h:outputText id="title" value="#{todoBean.todo.title}"
						style="width:100%" />
					<h:outputText value="" />

					<h:outputLabel for="description" value="Description: " />
					<h:outputText id="description" value="#{todoBean.todo.description}"
						style="width:100%" />
					<h:outputText value="" />

					<h:outputLabel for="expiration" value="Échéance: " />
					<h:panelGroup>
						<h:outputText rendered="#{empty todoBean.todo.expiration}"
							value="Aucune échéance n'est configurée" />
						<h:outputText rendered="#{not empty todoBean.todo.expiration}"
							value="#{todoBean.todo.expiration}" />
					</h:panelGroup>
					<h:outputText value="" />

					<h:panelGroup>
						<h:form>
							<h:panelGrid columns="3">
								<b:link outcome="/index.xhtml" value="Annuler" look="default" />
								<b:commandButton action="#{todoBean.delete}" value="Supprimer"
									look="danger" />
								<b:link outcome="/create.xhtml?id=#{todoBean.id}"
									value="Modifier" look="success" />
							</h:panelGrid>
						</h:form>
					</h:panelGroup>
				</b:panelGrid>
			</b:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>